.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--text-color);
    border-radius: 0;
    text-align: center;
}

.todo-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: calc(100% - 2 * 80px);
    height: 100%;

}

#drag-div {
    margin: 32px;
    padding: 10px 5px 10px 5px;
}

/* Styling for the icons inside of TodoItems. */
.li-icon {
    width: 20px;
    height: 20px;
    pointer-events: none;
}

/* Styling for the buttons inside of TodoItems. */
.li-button {
    transition: all .3s ease;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 16px;
}

.li-button:hover {
    border: 1px solid var(--text-color);
}

@media screen and (min-width: 1024px) {
    .todo-list-item {
        width: 100%;
    }
}