:root {
    --primary-color-light: #0e7381;
    --secondary-color-light: #bbf0f7;
    --accent-color-light: #17b9cf;
    --background-color-light: #ebf8fa;
    --text-color-light: #010809;

    --primary-color-dark: #7ee3f1;
    --secondary-color-dark: #083d44;
    --accent-color-dark: #30d3e8;
    --background-color-dark: #111717;
    --text-color-dark: #f6fdfe;
}

/* Default body to light mode */
body {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --accent-color: var(--accent-color-light);
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);

    background-color: var(--background-color);
    color: var(--secondary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Dark mode class */
body.dark-mode {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --accent-color: var(--accent-color-dark);
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);

    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 32px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 50rem;
    height: 50rem;
    display: grid;
    grid-row-gap: 5px;
    justify-content: center;
    align-items: center;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    min-height: 32px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--text-color);
    border-radius: 32px;
}

#nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    min-width: 32px;
    min-height: 32px;
    list-style-type: none;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 32px;
    color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;

}

.todo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--secondary-color);
}

/* Styling for the icons inside of TodoItems. */
.li-icon {
    width: 20px;
    height: 20px;
}

/* Styling for the buttons inside of TodoItems. */
.li-button {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0;
}

#todo-list {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

#todo-input {
    width: 50%;
    height: 50px;
    border: 1px solid var(--text-color);
    border-radius: 32px;
    margin: 10px 10px 10px 10px;
    padding: 4px 10px 4px 10px;
    color: var(--text-color);
    background-color: var(--secondary-color);

}

.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 0;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    clear: both;
}

.item-text {
    margin-left: 10px;
    background-color: var(--secondary-color);
}

@media (min-width: 600px) {
    .todo-div {
        height: 100%;
        width: 100%;
        min-height: 400px;
        max-height: 800px;
        min-width: 400px;
        max-width: 800px;
        border: 1px solid var(--text-color);
        border-radius: 32px;
    }

}

@media (max-width: 600px) {
    .todo-div {
        width: 100%;
        height: 100%;
    }
}